<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<link rel="stylesheet" href="/css/theme.css">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar navbar-inverse">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">MYOA</a>
		</div>
		<ul class="nav navbar-nav">
			<li class="active"><a href="#">START</a></li>
			<li><a href="/wizard/start-wizard">MAKE A ADVENTURE</a></li>
			<li><a href="#">PLAY A ADVENTURE</a></li>
			<li><a href="#">ABOUT</a></li>
		</ul>
	</div>
</nav>
<br><br>
<div class="container">
	<form th:action="@{/wizard/save-level}" th:object="${story}">
		<div class="form-group">
			<label>
				WHATS THE NAME OF YOUR STORY?
			</label>
			<input type="text" class="form-control" id="adventureName" aria-describedby="storyNameHelp"
				   placeholder="Enter your storys name (max 200 characters)" th:field="${story.name}" required maxlength="200">
		</div>
		<div class="form-group">
			<label>
				WHATS THE STORY?
			</label>
			<input type="text" class="form-control" id="story" aria-describedby="storyHelp"
				   placeholder="Enter your story here (max 2000 characters)" th:field="${story.beginning}" required maxlength="2000">
		</div>
		<div class="form-group">
			<label>
				WHAT HAPPENS WHEN THE PLAYER WIN?
			</label>
			<input type="text" class="form-control" id="win" aria-describedby="winHelp"
				   th:field="${story.end}" placeholder="Type your win message here (max 2000 characters)" required maxlength="2000">
		</div>
		<div class="form-group">
			<label>
				WHAT HAPPENS WHEN THE PLAYER LOSE?
			</label>
			<input type="text" class="form-control" id="lose" aria-describedby="loseHelp"
				   th:field="${story.die}" placeholder="Type your 'game over' message here (max 2000 characters)" required maxlength="2000">
		</div>
		<button type="submit" th:value="submit" class="btn btn-primary">
			NEXT >
		</button>
	</form>


</div>
</body>
</html>